<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Caffeinated Gorillas Blog</title>
    <link href={{get_url(path="styles.css")}} rel="stylesheet">
</head>

<body class="flex flex-col min-h-screen">
    <nav id="nav" class="bg-white px-2 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="https://www.caffeinatedgorillas.com/" class="flex items-center">
                <img src="{{get_url(path="coffee_with_bananna.svg")}}" class="mr-1 h-14 sm:h-12" alt="Caffeinated Gorillas Logo (Coffee in Banana Cup)" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Caffeinated Gorillas</span>
            </a>
            <button data-collapse-toggle="mobile-menu" type="button" onclick="toggleMenu()"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <div class="md:bg-white bg-gray-100 hidden w-full md:block md:w-auto" id="mobile-menu">
                <ul class="flex flex-col mp-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    {% for product in ["Home^/", "Blog^/blog", "Resume^" ~ get_url(path="resume.pdf")] %}
                        <li>
                            {% set page_name = product | split(pat="^") | first %}
                            {% set href = product | split(pat="^") | last %}

                            {% if href == "/"%}
                            {% set on_page = current_path == "/" %}
                            {% else %}
                            {% set on_page = current_path is starting_with(href) %}
                            {% endif %}
                            
                            <a href="{{href}}"
                                {% if on_page %}
                                    class="block py-2 pr-4 pl-3 text-white text-yellow-400 rounded md:bg-transparent md:text-yellow-400 md:p-0 dark:text-white"
                                    aria-current="page"
                                {% else %}
                                    class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-yellow-400 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent}"
                                {% endif %}
                                >{{page_name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <script>
        const menu = document.getElementById('mobile-menu');

        function toggleMenu() {
            if (menu.classList.contains('hidden')) {
                menu.classList.remove('hidden');
            } else {
                menu.classList.add('hidden');
            }
        }

        window.onclick = function (event) {
            var nav = document.getElementById('nav');
            if (!nav.contains(event.target) && !menu.classList.contains('hidden')) {
                menu.classList.add('hidden');
            }
        }

    </script>

    <section class="section flex justify-center flex-grow">
        <div class="container px-4">
            {% block content %} {% endblock %}
        </div>
    </section>

    <footer class="p-4 bg-white rounded-lg shadow flex items-center justify-between md:p-6 dark:bg-gray-800">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 Chris Hamons™. All Rights Reserved.
        </span>
        
            
    <div class="flex flex-row">
        <div class="w-8 mr-1">
            <a href="https://twitter.com/IfErrThrowBrick">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>Twitter</title>
                    <path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/>
                </svg>
            </a>
        </div>

        <div class="w-8 mx-1">
            <a href="https://github.com/chamons/" class="w-32">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>GitHub</title>
                    <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                </svg>
            </a>
        </div>
    </div>

    </footer>
</body>

</html>