{% extends "base.html" %}

{% block content %}

<div class="flex">
    <img src="{{get_url(path="coffee.jpeg")}}" class="object-cover hidden md:block h-48 w-64 ">
    <block class="leading-loose mx-4">
        <p>Caffeinated Gorillas is the personal website of Chris Hamons.</p>        
        <p>On the <a href="/blog" class="link">blog</a> I keep some ramblings on programming, management, and remote development.</p>
        <p>You can find my latest resume <a href="{{get_url(path="resume.pdf")}}" class="link">here</a>.</p>
        <p>To contact me via e-mail: chris dot hamons at gmail dot com</p>
        <p>Website powered by <a href="https://tailwindcss.com/">tailwindcss</a> and <a href="https://www.getzola.org/">Zola</a>.</p>
    </block>
</div>
{% endblock content %}